site_name: Metrics Toolbox
site_description: A flexible toolbox for evaluating machine learning models
site_url: https://rasmushaa.github.io/metrics-toolbox/
repo_url: https://github.com/rasmushaa/metrics-toolbox
repo_name: rasmushaa/metrics-toolbox

theme:
  name: readthedocs

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [metrics_toolbox]
          options:
            docstring_style: numpy
  - mkdocs-autoapi:
      autoapi_dir: ./metrics_toolbox

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
